*.so
*.o
*.i
*.s
*.log
moc_*.cc
/tags
/test_align
/test_array
/test_cast
/test_comm
/test_constr
/test_crypto_sock
/test_dayofweek
/test_destr
/test_division_by_zero
/test_fanotify
/test_fizzbuzz
/test_ftempl
/test_func
/test_get_seats
/test_getpwnam
/test_hex2str
/test_idxupd
/test_inherit
/test_inotify
/test_is_constexpr
/test_keyval
/test_lambda
/test_line_point
/test_list_vs_tree
/test_map
/test_memmove
/test_mmap_chunks
/test_op
/test_page
/test_pam
/test_pam_helper
/test_pam_spawn
/test_pipe
/test_pipe_child
/test_ptr_array
/test_qvariant
/test_read
/test_ref
/test_setter
/test_sizeof
/test_str_diff
/test_substr_cnt
/test_suid
/test_vector
/test_virtual
