*.so
*.o
*.i
*.s
*.log
moc_*.cc
/tags
/test_actions
/test_aggregate
/test_align
/test_array
/test_atoi
/test_binary_search
/test_bitpopcnt
/test_bt_to_dll
/test_call_pure
/test_cast
/test_comm
/test_constr
/test_crypto_sock
/test_dayofweek
/test_destr
/test_dfs
/test_division_by_zero
/test_dlopen
/test_egl_xcb
/test_expr
/test_fanotify
/test_file_sort
/test_file_sort_out.txt
/test_fizzbuzz
/test_ftempl
/test_func
/test_functor
/test_get_seats
/test_getpwnam
/test_gettime
/test_good_taste
/test_heap
/test_hex2str
/test_idxupd
/test_inc
/test_inherit
/test_inotify
/test_integer_overflow
/test_is_constexpr
/test_iter
/test_keyval
/test_klengthpref
/test_lambda
/test_line_point
/test_list_delete_node
/test_list_merge
/test_list_vs_tree
/test_luks
/test_map
/test_map_insert
/test_member
/test_member_static
/test_memmove
/test_missing_number
/test_mmap_chunks
/test_negative_int
/test_op
/test_optout
/test_page
/test_pam
/test_pam_helper
/test_pam_spawn
/test_pipe
/test_pipe_child
/test_placement_new
/test_ptr_array
/test_qfile
/test_qsettings
/test_qstring
/test_qvariant
/test_read
/test_ref
/test_ret_local
/test_ret_no_value
/test_search_by_two_keys
/test_search_by_two_keys_simple
/test_second_largest
/test_setter
/test_sizeof
/test_slicing
/test_str_diff
/test_string
/test_strncmp
/test_subarray_sum
/test_substr_cnt
/test_suid
/test_task_scheduler_abc
/test_triv
/test_uls
/test_uniq_rows_in_bool_matrix
/test_uninitialized
/test_update_list
/test_variadic
/test_vdso
/test_vector
/test_virtual
/test_write
/test_xoy
/test_yaml
